<div class="container">
    <ul class="transparent-bg list-group p-3">
        {{#each days as |dayProgress i|}}
        <li class="transparent-bg list-group-item">

            {{!-- fullname & title --}}
            <h6>{{presentTime dayProgress.day false}} - <span style="color:white" class="btn btn-secondary">{{calculateHours dayProgress.hoursWorked}} hour/s worked</span></h6>
            <ul>
            {{#each dayProgress.hoursWorked as |hoursWorked i|}}
            <li>{{presentTime hoursWorked.from true}} to {{presentTime hoursWorked.to true}} - <b>{{hoursWorked.projectWorkedOn.name}}</b></li>
            {{/each}}
            </ul>

            {{!-- button example mr --}}
            {{!-- <a title="History" class=" customButton btn btn-light" href="/users/{{user._id}}">
                <img src="/images/icons/history.png" class="iconImage">
            </a> --}}
        </li>

        {{/each}}
    </ul>
</div>


{{> floatingButtons/logout}}
{{> floatingButtons/add}}
{{> floatingButtons/calendar}}

{{> css/timesheetsList}}